<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Werkstoffverwaltung.Properties.Settings.mydbConnectionString" connectionString="server=localhost;user id=root;password=Root;database=mydb;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
        <add name="Werkstoffverwaltung.Properties.Settings.werkstoffdatenviewConnectionString" connectionString="server=localhost;user id=root;password=Root;database=werkstoffdatenview" providerName="MySql.Data.MySqlClient"/>
        <add name="Werkstoffverwaltung.Properties.Settings.werkstoffdatenroutineConnectionString" connectionString="server=localhost;user id=root;password=Root;database=werkstoffdatenroutine" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
