<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Auftrag_Kunde.Properties.Settings.auftragsverwaltungConnectionString" connectionString="server=localhost;user id=root;password=Root;database=auftragsverwaltung" providerName="MySql.Data.MySqlClient"/>
        <add name="Auftrag_Kunde.Properties.Settings.kundenwerkstueckeConnectionString" connectionString="server=localhost;user id=root;database=kundenwerkstuecke;allowuservariables=True;password=Root" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
